include ../mixins/skill-item

.sidebar__bottom-item.skills
	.skills__top
		.skills__top-logo.sidebar__logo
			.round-area
				img(src='./components/skills/skills.png')
		.skills__top-text.sidebar__title-text
			|My Skills
	.skills__bottom.clear-float
		.skills__items
			+skill("devicon-javascript-plain", "JavaScript", "57")
			+skill("devicon-angularjs-plain", "AngularJS", "80")
			+skill("devicon-nodejs-plain", "Node.js", "50")
			+skill("devicon-mongodb-plain", "MongoDb", "60")
			+skill("devicon-html5-plain", "HTML5", "65")
			+skill("devicon-css3-plain", "CSS3", "55")
			+skill("devicon-bootstrap-plain", "Bootstrap", "70")
			+skill("devicon-csharp-plain", "C#", "67")
			+skill("devicon-git-plain", "Git", "90")
			+skill("devicon-gulp-plain", "GulpJs", "70")
			+skill("devicon-heroku-plain", "Heroku", "60")
			+skill("devicon-jquery-plain", "JQuery", "66")