.sidebar__bottom-item.skills
	.skills__top
		.skills__top-logo.sidebar__logo
			.round-area
				img(src='./components/skills/skills.png')
		.skills__top-text.sidebar__title-text
			|My Skills
	.skills__bottom.clear-float
		.skills__items
			.skills__item
				.skills__item-logo
					.round-area--sub-area
						i.devicon-javascript-plain
				.skills__item-wrapper
					.skills__item-value
						|JavaScript
					.skills__item-bar
						progress(max="100" value="57")
			.skills__item
				.skills__item-logo
					.round-area--sub-area
						i.devicon-angularjs-plain
				.skills__item-wrapper
					.skills__item-value
						|AngularJS
					.skills__item-bar
						progress(max="100" value="80")
			.skills__item
				.skills__item-logo
					.round-area--sub-area
						i.devicon-nodejs-plain
				.skills__item-wrapper
					.skills__item-value
						|Node.js
					.skills__item-bar
						progress(max="100" value="50")
			.skills__item
				.skills__item-logo
					.round-area--sub-area
						i.devicon-mongodb-plain
				.skills__item-wrapper
					.skills__item-value
						|MongoDb
					.skills__item-bar
						progress(max="100" value="60")
			.skills__item
				.skills__item-logo
					.round-area--sub-area
						i.devicon-html5-plain
				.skills__item-wrapper
					.skills__item-value
						|HTML5
					.skills__item-bar
						progress(max="100" value="65")
			.skills__item
				.skills__item-logo
					.round-area--sub-area
						i.devicon-css3-plain
				.skills__item-wrapper
					.skills__item-value
						|CSS3
					.skills__item-bar
						progress(max="100" value="55")
			.skills__item
				.skills__item-logo
					.round-area--sub-area
						i.devicon-bootstrap-plain
				.skills__item-wrapper
					.skills__item-value
						|Bootstrap
					.skills__item-bar
						progress(max="100" value="70")
			.skills__item
				.skills__item-logo
					.round-area--sub-area
						i.devicon-csharp-plain
				.skills__item-wrapper
					.skills__item-value
						|C#
					.skills__item-bar
						progress(max="100" value="67")
			.skills__item
				.skills__item-logo
					.round-area--sub-area
						i.devicon-git-plain
				.skills__item-wrapper
					.skills__item-value
						|Git
					.skills__item-bar
						progress(max="100" value="90")
			.skills__item
				.skills__item-logo
					.round-area--sub-area
						i.devicon-gulp-plain
				.skills__item-wrapper
					.skills__item-value
						|GulpJs
					.skills__item-bar
						progress(max="100" value="70")
			.skills__item
				.skills__item-logo
					.round-area--sub-area
						i.devicon-heroku-plain
				.skills__item-wrapper
					.skills__item-value
						|Heroku
					.skills__item-bar
						progress(max="100" value="60")
			.skills__item
				.skills__item-logo
					.round-area--sub-area
						i.devicon-jquery-plain
				.skills__item-wrapper
					.skills__item-value
						|JQuery
					.skills__item-bar
						progress(max="100" value="66")