doctype html
html
  head
    meta(charset='utf-8')
    title Tcaregorodtcev Vadim
    link(rel="stylesheet", href="https://cdn.rawgit.com/konpa/devicon/89f2f44ba07ea3fff7e561c2142813b278c2d6c6/devicon.min.css")
    link(rel='stylesheet', type='text/css', media='screen', href='./components/style.css')
    //if IE
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    include main/main.jade