include ../mixins/history-item

.b-content__item.experience
	.experience__top
		.experience__top-logo.b-content__logo
			.round-area--big
				img(src='./components/experience/experience.png')
		.experience__top-text.b-content__title-text
			|Work experience
	.experience__bottom.clear-float
		.history-items
			+history('Asp.net developer', './components/experience/icons/firstLogo.png', '.INOSTUDIO', './components/experience/icons/secondLogo.png', '06/06/2015 - current time', 'Application Development on .NET platform using a javascript framework AngularJS')
			+history('Asp.net developer', './components/experience/icons/firstLogo.png', 'Neutrino Software', './components/experience/icons/secondLogo.png', '15/12/2014 - 15/03/2015', 'Increased knowledge in the field of web application development platform .NET. Meeting new patterns of development of software applications. Using testing software code to improve its quality.')
			+history('Asp.net developer intern', './components/experience/icons/firstLogo.png', 'Inostudio Solutions', './components/experience/icons/secondLogo.png', '10/10/2012 - 10/02/2013', 'The main focus was aimed at deepening the knowledge of application development, adhering to the concept of the MVC. In practice, it has been reviewed and used patterns such as the development of software applications Repository, ServiseLayer Unit of Work. At the end we developed an application for booking of vehicles for trips.')