.contact__item-logo {
	float: left;
    padding: 7px;
}
.contact__item-value {
	padding: 15px;
	margin-left: 45px;
}
.contact__location-logo,
.contact__mobile-logo,
.contact__mail-logo, 
.contact__vk-logo, 
.contact__facebook-logo {
	.round-area--sub-area {
		img {
		    width: 16px;
    		height: 17px;
    		padding: 7px;
		}
	}
}