include ../mixins/contact-item

.sidebar__bottom-item.contact
	.contact__top
		.contact__top-logo.sidebar__logo
			.round-area
				img(src='./components/contact/contact.png')
		.contact__top-text.sidebar__title-text
			|Contact me
	.contact__bottom.clear-float
		.contact__items
			+contact('./components/contact/icons/contact.location.png', 'Turgenev street 44, Taganrog, Russia')
			+contact('./components/contact/icons/contact.mobile.png', '8 (928) 601 17 28')
			+contact('./components/contact/icons/contact.mail.png', 'vcaregorodcev@gmail.com')
			+contact('./components/contact/icons/vk.png', 'vk.com/werawoolf')
			+contact('./components/contact/icons/facebook.png', 'facebook.com/wadim.tsar')