.sidebar__bottom-item.contact
	.contact__top
		.contact__top-logo.sidebar__logo
			.round-area
				img(src='./components/contact/contact.png')
		.contact__top-text.sidebar__title-text
			|Contact me
	.contact__bottom.clear-float
		.contact__items
			.contact__item.contact__location
				.contact__location-logo.contact__item-logo
					.round-area--sub-area
						img(src='./components/contact/icons/contact.location.png')
				.contact__location-value.contact__item-value
					|Turgenev street 44, Taganrog, Russia
			.contact__item.contact__mobile
				.contact__mobile-logo.contact__item-logo
					.round-area--sub-area
						img(src='./components/contact/icons/contact.mobile.png')
				.contact__mobile-value.contact__item-value
					|8 (928) 601 17 28
			.contact__item.contact__mail
				.contact__mail-logo.contact__item-logo
					.round-area--sub-area
						img(src='./components/contact/icons/contact.mail.png')
				.contact__mail-value.contact__item-value
					|vcaregorodcev@gmail.com
			.contact__item.contact__vk
				.contact__vk-logo.contact__item-logo
					.round-area--sub-area
						img(src='./components/contact/icons/vk.png')
				.contact__vk-value.contact__item-value
					|vk.com/werawoolf
			.contact__item.contact__facebook
				.contact__facebook-logo.contact__item-logo
					.round-area--sub-area
						img(src='./components/contact/icons/facebook.png')
				.contact__facebook-value.contact__item-value
					|facebook.com/wadim.tsar