.sidebar__bottom-item.about
	.about__top
		.about__top-logo.sidebar__logo
			.round-area
				img(src='./components/about/about.png')
		.about__top-text.sidebar__title-text
			|About me
	.about__bottom.clear-float
		p
			|Web developer specializing in the development of client web applications with experience in more than six months. 
		p
			|The main emphasis is given to the development of client-side. Development is conducted using such technology how 
			span.mark--pink AngularJS
			|, 
			span.mark--pink	Gulp
			|,
			span.mark--pink	Jquery
			|. Also client-side has experience developing applications using technologies such as 
			span.mark--pink Asp.net
			|, 
			span.mark--pink NodeJs
			|. As well as experience with databases 
			span.mark--pink Ms Sql Server 
			|and  
			span.mark--pink MongoDb
			|.